body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-content {
    display: flex;
    background-color: black;
    justify-content: center;
    position: relative;

    canvas {
        margin-left: 0 !important;
        position: relative;
    }
    &::after {
        content: "";
        background-image: url("../banner/banner-test.png");
        background-size: 100% 100%;
        width: 200px;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    &::before {
        content: "";
        background-image: url("../banner/banner-test.png");
        background-size: 100% 100%;
        width: 200px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
    }

    @media (max-width: 1200px) {
        &::after,
        &::before {
            display: none;
        }
    }
}
